@font-face {
    font-family: "JetBrains Mono Regular";
    src: url("./JetBrainsMono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LXGW WenKai GB Screen";
    src: url("./LXGWWenKaiGBScreen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}