@font-face {
    font-family:"LXGW WenKai GB Screen","JetBrains Mono Regular";
	src: url('./LXGWWenKaiGBScreen.ttf'), format('ttf') ,"./JetBrainsMono.ttf",format('ttf');
}

:root {
	--md-text-font: "LXGW WenKai GB Screen"; 
	--md-code-font: "JetBrains Mono Regular", "LXGW WenKai GB Screen"; 
}